<ion-header>
  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="construct-outline"></ion-icon>
        </ion-menu-button>
        <p class="text">{{usuario.nick}}</p>
        <ion-row class="estrellas">
          <p class="text">{{usuario.valoraciones}}</p>
          <ion-icon class="star" name="star-outline"></ion-icon>
        </ion-row>
        <ion-avatar slot="end" [routerLink]="['/perfil']">
          <img src="{{usuario.foto}}">
        </ion-avatar>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://img.milanuncios.com/fg/3364/48/336448257_2.jpg?VersionId=98GyuXnZAK7IXMPXXgFSl75WWXrQdNbb"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://musicaladn.com/153230/trompeta-sib-weril.jpg"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://img.milanuncios.com/fg/2863/92/286392738_2.jpg?VersionId=iHBw8RbPnWjBAm9aMTrbpcv1rO6P6BDz"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://img.milanuncios.com/fp/1000/95/100095839_1.jpg"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://img.milanuncios.com/fg/3411/06/341106828_1.jpg?VersionId=oewFueNKFC8mDHpOG.XcpzmZlEF6MOyy"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
    <ion-col size="5.8" class="card"
      ><div class="foto">
        <img
          src="https://images.vibbo.com/635x476/456/45661926954.jpg"
          alt=""
        />
      </div>
      <p>"producto"</p>
    </ion-col>
  </ion-row>
</ion-content>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"
></script>
<script
  nomodule
  src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"
/>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<script type="module">
  import { menuController } from "https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/index.esm.js";
  window.menuController = menuController;
</script>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/editar-perfil']" >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Editar perfil</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/chat-general']">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<script>
  async function openMenu() {
    await menuController.open();
  }
</script>
