<ion-header>
  <ion-icon name="options-outline"></ion-icon>
  <p>"nombre de usuario"</p>
  <ion-icon name="person-circle-outline"></ion-icon>
</ion-header>

<ion-content>
  <div class="centrar">
    <ion-icon class="star" name="star-outline"></ion-icon
    ><ion-icon class="star" name="star-outline"></ion-icon
    ><ion-icon class="star" name="star-outline"></ion-icon
    ><ion-icon class="star" name="star-outline"></ion-icon
    ><ion-icon class="star" name="star-outline"></ion-icon>
  </div>

  <ion-item
    ><div id="container">
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
      <div class="card">
        <ion-icon class="cerrar" name="close-circle"></ion-icon>
        <div class="cuadrado"><ion-icon name="planet-outline"></ion-icon></div>
        <div class="producto"><p>"producto"</p></div>
      </div>
    </div>
  </ion-item>
</ion-content>
