ion-header{
    ion-toolbar{
      --background:var(--color-primary);
      ion-back-button{
        color: var(--color-grey);
      }
      ion-title {
        text-align: center;
        font-size: 20px;
        color: var(--color-grey);
      }
      ion-avatar {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }
    }
  }

ion-label{  
    color: white;
    font-size: 15px;
    text-align: center;
}
ion-content {
    padding: 16px;
}
ion-icon {
    font-size: 32px;
    color: var(--color-primary);
    margin-right: 8px;
}

ion-avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
#flecha{
    margin: 65px 0 0 0;
    color: var(--color-primary);
}
.mitad1 {
  height: 20px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #f0efef;
    text-align: center;
    --indicator-height:3px;
    --color-checked:var(--color-secondary);
}
.mitad2{
  height: 20px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #f0efef;
    text-align: center;
    --indicator-height:3px;
    --color-checked:var(--color-secondary);
}
#icon1{
    text-align: center;
    color: var(--color-primary);
}
#icon2{
    text-align: center;
    color: var(--color-primary);
}
.articulos{
    margin-top: 10px;
}
.mios{
  border-radius: 3px;
    width: 100%;
    font-size: 32px;
    margin: 0 auto;
    background-color: var(--color-primary);
    text-align: center;
    img{
        height: 192px;
        object-fit: cover;
        justify-content: center center;
    }
}
.otros{
  border-radius: 3px;
    width: 100%;
    font-size: 32px;
    margin: 0 auto;
    background-color: var(--color-secondary);
    text-align: center;
    img{
        height: 192px;
        object-fit: cover;
        justify-content: center center;
    }
}
ion-checkbox{
    margin: 0 auto;
}
ion-item{
    color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--border-card);
    h5{
      text-align: center;
      color: var(--color-primary);
    }
}
h6{
    margin: 0 auto; 
}
.valorar {
    text-align: center;
    color: var(--color-primary);
    .star {
      font-size: 32px;
      // display: inline;
      margin: 0 auto;
      color:  var(--color-secondary);
    }
    ion-icon{
        margin: 0;
    }
}

ion-content{
  --background: url("../chat/fondo5.jpg");
}

.noHay{
    text-align: center;
    ion-col{
      ion-card{
        padding: 4px;
        margin-top: 10vh;
        img{
          height: 320px;
          width: 95%;
          object-fit: cover;
          object-position: center center;
        }
        ion-text{
          color: var(--color-primary);
        }
      }
    }
  }

  