<ion-header>
  <ion-toolbar> <!-- botón Back -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Subir Artículo</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="subir">
    <ion-item>
      <ion-label position="floating"> Título* </ion-label>
      <ion-input clearInput #nombre></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Antigüedad* </ion-label>
      <ion-input clearInput #antiguedad></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Descripción* </ion-label>
      <ion-input clearInput #descripcion></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Estado del artículo* </ion-label>
      <ion-select value="estado" okText="Aceptar" cancelText="Cancelar" #estado>
        <ion-select-option value="sin usar-nuevo" >sin usar-nuevo</ion-select-option>
        <ion-select-option value="usado-pero como nuevo">usado-como nuevo</ion-select-option>
        <ion-select-option value="usado-en buen estado">usado-buen estado</ion-select-option>
        <ion-select-option value="notablemente usado">notablemente usado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Escoge una categoría* </ion-label>
      <ion-select value="categoria" okText="Aceptar" cancelText="Cancelar" #categoria>
        <ion-select-option value="Misterio">Misterio</ion-select-option>
        <ion-select-option value="Fantasía">Fantasía</ion-select-option>
        <ion-select-option value="Histórico">Histórico</ion-select-option>
        <ion-select-option value="Biográfico">Biográfico</ion-select-option>
        <ion-select-option value="Literatura">Literatura</ion-select-option>
        <ion-select-option value="Aventura">Aventura</ion-select-option>
        <ion-select-option value="Novela">Novela</ion-select-option>
        <ion-select-option value="Distopía">Distopía</ion-select-option>
        <ion-select-option value="Paranormal">Paranormal</ion-select-option>
        <ion-select-option value="Cómic">Cómic</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Sube una imágen* </ion-label>
      <ion-input clearInput [(ngModel)]="valor" #imagen ></ion-input>
      <ion-thumbnail slot="end">
      <img src="{{valor}}" alt=""> 
      </ion-thumbnail>
    </ion-item>

  </ion-card>
<!--botón para subir artículo-->
  <ion-button expand="full" shape="round" color="primary" (click)="insertarArticulo(
    nombre.value,
    antiguedad.value,
    descripcion.value,
    estado.value,
    categoria.value,
    imagen.value
    )
    " [routerLink]="['/perfil']">Subir Artículo
  </ion-button>

</ion-content> <!--cierra content-->
