ion-header{
    ion-toolbar{
      --background:var(--color-primary);
      ion-buttons{
        ion-back-button{
            --color:var(--color-grey);
        }
      }
      ion-title {
        text-align: center;
        font-size: 20px;
        color: var(--color-grey);
      }
      ion-avatar {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }
    }
  }

ion-label{  
    color:  #2934623f;
    font-size: 10px;
    text-align: start;
}
ion-item{
    color:  #293462e7;
    font-size: 15px;
    text-align: start;  
    margin: 10px; 
}
ion-input{
    color:  #030a25;
    font-size: 18px;
}

ion-content {
    padding: 16px;
}
ion-icon {
    font-size: 32px;
    color: #293462;
    margin-right: 8px;
}

ion-avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.subir{
    background-color:  #2934623f;
}

