<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Mis favoritos</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col size="6" *ngFor="let item of favoritos">
      <ion-card>
        <div>
          <ion-icon name="close-circle" (click)="eliminarFavorito(item.favoritos_id)"></ion-icon>
          <img src="{{item.imagen}}" (click)="mostrarInfo(item.articulo_id)" alt="" />
          <ion-text>
            <h3>{{item.nombre}}</h3>
          </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="noHay" *ngIf="favoritos[0]==null">
    <ion-col size="12">
      <ion-card>
        <img
          src="https://static7.depositphotos.com/1001911/763/v/450/depositphotos_7630053-stock-illustration-confused-emoticon.jpg"
          alt="">
        <ion-text>
          <h4>
            Lo sentimos, no tienes favoritos.
          </h4>
        </ion-text>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>