<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title class="titulo">Mis favoritos</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let item of favoritos">
      <div>
        <ion-icon name="close-circle" (click)="eliminarFavorito(item.favoritos_id)"></ion-icon>
        <img src="{{item.imagen}}" (click)="mostrarInfo(item.articulo_id)" alt=""/>
        <ion-text>
          <h3>{{item.nombre}}</h3>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
  

