<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Seleciona un producto</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="6" *ngFor="let item of misArticulos" (click)="presentAlertConfirm(item.articulo_id)">
      <ion-card>
        <div>
          <img
            src="{{item.imagen}}"
            alt=""
          />
          <ion-text>
            <h3>{{item.nombre}}</h3>
          </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
