ion-header{
    ion-toolbar{
        --background:var(--color-primary);
        --color:var(--color-grey);
        text-align: center;
        ion-avatar{
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
    }
}

ion-content{
  --background: url("../chat/fondo5.jpg");
    ion-row{
      justify-content: center;
      ion-col{
        ion-card{
          border: 1px solid var(--border-card);
          div{
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
            img {
              margin-top: 1vw;
              width: 95%;
              height: 192px;
              object-fit: cover;
              object-position: center center;
            }
            ion-text{
              color:var(--color-grey);
              h3{
                margin: 0;
                background-color: var(--background-text);
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
  }