<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" class="flecha" defaultHref="/home"></ion-back-button>
    <ion-title *ngFor="let i of articulo">{{i.nombre}}</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img
        src="{{usuario.foto}}"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngFor="let i of articulo">

     <!-- información de un artículo -->
    <ion-row class="info">
      <ion-col size="12">
        <img class="foto" src="{{i.imagen}}" alt="">
        <h2><strong class="nombre">{{i.nombre}}</strong></h2>
        <h5><strong>Antigüedad: </strong>{{i.antiguedad}}</h5>
        <h5><strong>Estado: </strong>{{i.estado}}</h5>
        <h5 class="texto">{{i.descripcion}}</h5>
      </ion-col>
    </ion-row>

     <!-- botón de solicitar producto para el cambio -->
    <ion-col size="12">
      <ion-button expand="full" shape="round">Solicitar cambio</ion-button>
    </ion-col>

    <ion-item-divider></ion-item-divider>

     <!-- datos del usuario propietario -->
    <div class="container2">
      <img class="avatar" src="{{i.foto}}">
      
      <div class="container3">
        <h6 class="usuario">{{i.nick}}</h6>
        
        <ion-icon class="star" name="star"></ion-icon>
        <ion-text>{{i.valoraciones}}/5</ion-text>
      </div>
    </div>

  </div>
</ion-content>