ion-header{
  ion-toolbar{
    --background:var(--color-primary);
    ion-back-button{
      color: var(--color-grey);
    }
    ion-title {
      text-align: center;
      font-size: 25px;
      color: var(--color-grey);
    }
    ion-avatar {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
}

.container{
    margin: 10px;
}

.foto{
    height: 200px;
    //width: 100%;
    border-radius: 4px;
}

ion-button{
  --background: var(--ion-color-warning);
  color: black;
}

.container2{
  display: flex;
  padding: 16px;
    .avatar{
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border-radius: 50%;
      margin-top: 15px;
    }
    .container3{
        display: block;
        .star {
          font-size: 24px;
          color:  #ec9b3b;
          margin: -1px;
        }
    }
       
}

.info{
  text-align: center;

}



