ion-tab-bar{
    --background:white;
    ion-tab-button{
        --color:rgb(112, 111, 111);
        ion-badge{
            --background:#F7BE16;
            --color:#293462;
        }
        .add{
            color: #F7BE16;
        }
    }
    .activo{
        color: #293462;
    }
}