ion-header{
  ion-toolbar{
    --background:var(--color-primary);
    ion-buttons{
      ion-back-button{
      color: var(--color-grey);
      }
    }
    ion-title {
      text-align: center;
      font-size: 20px;
      color: var(--color-grey);
    }
    ion-avatar {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
}
ion-content{
  text-align: center;
  --background: url("../chat/fondo5.jpg");
  
  div{
    padding: 2px;
    ion-avatar{
      margin: auto;
      margin-bottom: 5vh;
      margin-top: 5vh;
      border: 2px solid var(--color-primary);
      width:100% !important;
      height : 100% !important;
      width: 128px !important;
      height: 128px !important;
      img{
        background-color: black;
      }
    }
    ion-row{
      // margin: auto;
      justify-content: center;
      h4{
        margin: 0;
        color: var(--color-primary);
      }
      ion-icon{
        font-size: 22px;
        color: var(--color-primary);
      }
    }
    ion-text{
      color: var(--color-primary);
      font-size: 20px;
    }
    .productos{
      margin-top: 32px;
      margin-bottom: 0px;
    }
  }
  ion-row{
    justify-content: center;
    ion-col{
      ion-card{
        border: 1px solid var(--border-card);
        div{
          text-align: center;
          border-radius: 3px;
          cursor: pointer;
          img {
            margin-top: 1vw;
            width: 95%;
            height: 256px;
            object-fit: cover;
            object-position: center center;
          }
          ion-text{
            color:var(--color-primary);
            margin: 0 auto;
            
            h3{
              overflow: hidden;
              margin: 0;
              background-color:var(--background-text);
            }
          }
        }
      } 
    }
  }

  .noHay{
    text-align: center;
    ion-col{
      ion-card{
        padding: 4px;
        margin-top: 10vh;
        img{
          height: 320px;
          width: 95%;
          object-fit: cover;
          object-position: center center;
        }
        ion-text{
          color: var(--color-primary);
        }
      }
    }
  }
}