<ion-header>
  <ion-toolbar *ngFor="let item of usuario">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.nick}}</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuarioLog.foto}}" alt="">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of usuario">

  <div>
    <ion-avatar class="foto">
      <img src="{{item.foto}}" alt="" />
    </ion-avatar>
  
    <ion-row class="valoraciones">
      <h4><strong>Valoraciones:</strong> {{item.valoraciones}}/5</h4>
      <ion-icon name="star-outline"></ion-icon>
    </ion-row>
  
    <ion-text>
      <p><strong>Ubicación:</strong> {{item.lugar}}</p>
    </ion-text>
    
    <ion-text >
      <p class="productos"><strong>Articulos:</strong></p>
    </ion-text>
  </div>
  

  <ion-row>
    <ion-col size="6" *ngFor="let i of articulos">
      <ion-card>
        <div (click)="verArticulo(i.articulo_id)">
          <img src="{{i.imagen}}" alt="" />
          <ion-text>
            <h3>{{i.nombre}}</h3>
          </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="noHay" *ngIf="articulos[0] == null">
    <ion-col size="12">
      <ion-card>
        <img
          src="https://static7.depositphotos.com/1001911/763/v/450/depositphotos_7630053-stock-illustration-confused-emoticon.jpg"
          alt="">
        <ion-text>
          <h4>
            No ha tiene ningun articulo.
          </h4>
        </ion-text>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>