@import url(../home/home.page.scss);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.articulo{
  margin: 0 auto;
  text-align: center;

}
.card{
    margin-top: 16px;
}

ion-label{  
  color:  #2934620a;
  text-align: start;
  font-style: oblique;
  font-weight: bold;
}
ion-item{
  color:  #293462e7;
  text-align: start;  
  margin: 10px; 
  font-size: 16px;
}
ion-input{
  color:  #293462e7;
  font-size: 14px;
}
ion-button{
  margin-bottom: 8px;
}




