ion-header {
  ion-toolbar {
    --background: #293462;
    ion-icon {
      font-size: 40px;
      margin-left: 10px;
      color: white;
    }
    ion-title {
      text-align: center;
      font-size: 25px;
      color: white;
    }
    ion-avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid #293462;
    }
  }
}
ion-content {
  --background: url(../monsters-icons-background-creative-white-background-cartoon-monsters-funny-monsters-besthqwallpapers.com-960x800.jpg)
    var(--background-opacity);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  ion-searchbar {
    --background: white;
    --icon-color: #293462;
    --box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.21);
  }
  ion-row {
    --background: #e8e8e8;
    ion-col {
      div {
        text-align: center;
        background-color: #293462;
        border-radius: 3px;
        cursor: pointer;
        img {
          margin-top: 1vw;
          width: 95%;
          height: 256px;
          object-fit: cover;
          object-position: center center;
        }
        ion-text {
          color: white;
        }
      }
    }
  }
}
