<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="" slot="start"></ion-icon>
    <ion-title>Vitu</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-searchbar animated (ionChange) = "buscar ($event)"></ion-searchbar>

  <ion-row>
    <ion-col size="6" *ngFor="let i of articulos | filtro: textoBuscar:'nombre'">
      <ion-card>
        <div (click)="mostrarInfo(i.articulo_id)"> 
          <img src="{{i.imagen}}" alt="" />
          <ion-text>
            <h3>{{i.nombre}}</h3>
          </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>