ion-header{
  ion-toolbar{
    --background:#E8E8E8;
    border-bottom: 1px solid #293462;
    ion-icon{
      font-size: 40px;
      margin-left: 10px;
      color: #293462;
    }
    ion-title{
      text-align: center;
      font-size: 25px;
      color: #293462;
    }
    ion-avatar{
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid #293462;
    }
  }
}
ion-content{
  --background:#E8E8E8;
  ion-searchbar{
    --icon-color:#293462;
           
  }
}