ion-header{
    ion-toolbar{
        --background:var(--color-primary);
        --color:var(--color-grey);
        text-align: center;
        ion-avatar{
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
    }
}

ion-content{
    ion-item{
        ion-avatar{
            width: 64px;
            height: 64px;
        }
        ion-label{
            min-width: 100%;
            font-size: 20px;
            p{
                margin-top:8px;
                overflow: hidden;
            }
        }  
    }
    .noHay{
        text-align: center;
        ion-col{
          ion-card{
            padding: 4px;
            margin-top: 10vh;
            img{
              height: 320px;
              width: 95%;
              object-fit: cover;
              object-position: center center;
            }
            ion-text{
              color: var(--color-primary);
            }
          }
        }
      }
    
}